<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

  <li>
    <%= link_to '投稿フォーム', new_book_path %>
  </li>

  <% @books.each do |book| %>
<div>

  <p>Title：<%= book.title %></p>
  <p>Option：<%= book.body %></p>

</div>
<% end %>
