<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="mx-auto col-sm-10 col-lg-8 col-xl-6">
        <h1>welcome
        <strong>Bookers</strong>
        !!
        </h1>
      <P>In
      <strong>Bookers</strong>
      ,
      </p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>

        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
      </div>
     </div>
    </div>
   </div>
  </div>
  </main>